html,
body {
  margin: 0;
}


body {
  overflow: hidden;
  height: inherit;
}


div :nth-child(1) {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
}

div :nth-child(2) {
  position: absolute;
  top: 30px;
  left: 10px;
  color: white;
}